@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /*shared style*/
 .secondary-bg{
    background-color: #fff8f3;
 }
  .btn{
    color: aliceblue;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    cursor: pointer;
    font-weight: 800;
    border-radius: 5px;

  }
  .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  }
  .section-description{
    font-size: 18px;
    color:#757575
  }
.text-center{
 text-align: center;
}
  /* shared style end  */
  .header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right; 
    max-width: 1800px;
  }
  li> button{
    height: 64px;
    width: 150px;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
  }
  .nav-bar>h1{
    margin-left: 130px;
    font-size: 40px;
  }
  .text1{
    font-size: 30px;
    font-weight: 800;
  }
  .span-text{
    color: #FD6E0A;
  }
  nav ul li {
    display:inline-block;
    margin-right: 30px;
    margin-top: 20px;
  }
  nav ul a{
    text-decoration: none;
    color: #FD6E0A;
  }
 .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 230px;

 }
.banner-content{
    max-width: 580px;
    margin-left: 120px;
}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: -50px;
}
.banner-title{
    font-size: 75px;
    color: #181818;
    margin-bottom: -10px;
}
.description{
    font-size: 20px;
    color: #757575;
}

/*main styles*/
.main{
    max-width: 1140px;
    margin: 0px auto;
}
/*about styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
    max-width: 1800px;
}
.about-items{
    display:flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skill section start  */
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-continer{
  display: flex;
  gap:24x;
}
/* resume section title  */
.resume{
  margin-top: 130px;
  margin-bottom:20px;
  max-width: 1800px;
}
.resume-title{
  font-size: 30px;
  margin-bottom: 20px;
}
.resume-container{
  display: flex;
  gap: 24px;
}
.exp-subtitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.exp-description .exp-subtitle{
  color:#757575
}
.resume hr{
  margin: 30px 5px;
}

/* style footer  */
footer{
  max-width:1800px;
  padding: 130px 230px;
  display: flex;
  gap: 100px;
  margin-top: 40px;
}
footer input[type="text"] ,footer input[type="email"] ,footer input[type="textarea"]  button {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
